<ion-header>
  <ion-toolbar>
    <ion-title>Login Maestros</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item *ngFor="let puma of pumas">
    <ion-avatar slot="start">
      <img [src]="puma.foto" />
    </ion-avatar>
    <ion-label>{{puma.nombre}}</ion-label>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Usuario</ion-label>
    <ion-input #usuario placeholder="Correo@duocuc.cl"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Contraseña</ion-label>
    <ion-input #password type="password" placeholder="*******"></ion-input>
  </ion-item>
  <div *ngIf="mensaje;">       
    <h3 id="Error">Mensaje: {{mensaje}}</h3>
  </div>
  
</ion-content>

<ng-container>
  <ion-button (click)="link(usuario, password, RouterLink)" expand="block" fill="clear" color="warning">
    Iniciar sesión
  </ion-button>
</ng-container>