<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      App Duoc Uc
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">App Duoc Uc</ion-title>
    </ion-toolbar>
  </ion-header>
<br><br>
  <ion-item *ngFor="let persona of personas">
    <img [src]="persona.foto" />
    <ion-label>{{persona.nombre}}</ion-label>
  </ion-item>

  <br><br>
  <ion-button [routerLink]="['/maestros']" expand="full" color="primary">
    <ion-icon slot="icon-only" name="people-outline"></ion-icon>
    Maestro
  </ion-button>

  <br>
  <ion-button [routerLink]="['/alumnos']" expand="full" color="warning">
    <ion-icon slot="icon-only" name="people-outline"></ion-icon>
    Alumno
  </ion-button>

  <div id="container">

  </div>
</ion-content>
